<div class="menu-item menu-1">
   <a href="/">Startseite</a>
</div>
<div class="menu-item menu-2">
   <a href="/list_employees" data-link>Pflege Mitarbeiterdaten</a>
   <a href="/list_trainings" data-link>Pflege Weiterbildungen</a>
</div>
<div class="menu-item menu-3">
   <h2>Teilnahme</h2>
   <ul>
       <li><a href="/participation_employees" data-link>Sichtweise Mitarbeiter</a></li>
       <li><a href="/participation_trainings" data-link>Sichtweise Weiterbildungen</a></li>
   </ul>
</div>
<div class="menu-item menu-4">
   <h2>Auswertungen</h2>
   <ul>
       <li><a href="/evaluation_employees" data-link>Mitarbeiter</a></li>
       <li><a href="/evaluation_trainings" data-link>Weiterbildungen</a></li>
       <li><a href="/evaluation_certificates" data-link>Zertifikate</a></li>
   </ul>
</div>