<div class="menu-item menu-1">
   <p class="sidebar-link" data-href="home">Startseite</p>
</div>
<div class="menu-item menu-2">
   <p class="sidebar-link" data-href="list_employees">Pflege Mitarbeiterdaten</p>
   <p class="sidebar-link" data-href="list_trainings">Pflege Weiterbildungen</p>
</div>
<div class="menu-item menu-3">
   <h2>Teilnahme</h2>
   <ul>
       <li><p class="sidebar-link" data-href="participation_employees">Sichtweise Mitarbeiter</p></li>
       <li><p class="sidebar-link" data-href="participation_trainings">Sichtweise Weiterbildungen</p></li>
   </ul>
</div>
<div class="menu-item menu-4">
   <h2>Auswertungen</h2>
   <ul>
       <li><p class="sidebar-link" data-href="evaluation_employees">Mitarbeiter</p></li>
       <li><p class="sidebar-link" data-href="evaluation_trainings">Weiterbildungen</p></li>
       <li><p class="sidebar-link" data-href="evaluation_certificates">Zertifikate</p></li>
   </ul>
</div>